.sub-criteria__title {
    &::after {
        content: ".................................................................................................................................................................................................................................................................";
        position: absolute;
        z-index: 1;
        color: $dark-gray-color;
        top: 8px;
        width: 60%;
        overflow: hidden;
        left: 50%;
        transform: translateX(-40%);
    }
}
