.evaluate-tab__content {
  border: solid 1px $white-color;
  border-top: unset;
  @include maxWidth($sm) {
    .fs-18 {
      font-size: 10px;
    }
    .spacing {
      padding: 0 !important;
    }
  }
  .evaluate-tab__list {
    .evaluate-tab__item {
      .tab-item__header {
        span {
          padding: 10px 20px;
          display: inline-block;
          border-top-right-radius: 25px;
          border-top-left-radius: 25px;
        }
      }
      .tab-item__body {
        border-radius: 25px;
      }
    }
  }
}
