$dark-gray-color: #9e9e9e;
$white-color: #ffffff;
$black-color: #000000;
$light-blue-color: #5fb2f4;
$light-red-color: #f44336;
$dark-orange-color: #ff9800;
$green-neon-color: #26a69a;
$white-smoke-color: #f2f2f2;
$silver-color: #bdbdbd;

// breakpoint
$xs: 0px;
$sm: 36em;
$md: 48em;
$lg: 62em;
$xl: 75em;
$xxl: 87.5em;
